*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: brown;
    background-color: rgb(173, 216, 245);
}
a{
    text-decoration: none;
    color: brown
}
h2 :hover{
    color: blue;
}
div{
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(173, 216, 245));
}
.modellingPictures{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
img{
    width: 48vw;
    height: 20vh;
    margin-right: 2px;
    margin-bottom: 10px;
}
h2{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    line-height: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding-left: 10px;
}
